[run]
source = .
omit = 
    */tests/*
    */__pycache__/*
    */venv/*
    passenger_wsgi.py

[report]
# Temporary: Lower requirement for presentation
fail_under = 55
exclude_lines = 
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    @abc.abstractmethod

[html]
directory = htmlcov
title = Currency Converter Coverage Report

[xml]
output = coverage.xml
